version: "3.9"

services:
  database_skillio:
    image: postgres:15
    restart: unless-stopped
    environment:
      POSTGRES_USER: admin_skillio
      POSTGRES_PASSWORD: m3TFDKicG40ftJ1zY6rZTQpIbEw3sV9lqVYPwsAJTn1Qa3ujuxx6QeBQqQBy4oaN
      POSTGRES_DB: activities_db
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - db_final_reset_v9:/var/lib/postgresql/data
    networks:
      - internal

  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    restart: unless-stopped
    environment:
      DATABASE_URL: postgresql://admin_skillio:m3TFDKicG40ftJ1zY6rZTQpIbEw3sV9lqVYPwsAJTn1Qa3ujuxx6QeBQqQBy4oaN@database_skillio:5432/activities_db
    depends_on:
      - database_skillio
    networks:
      - internal
      - coolify
    healthcheck:
      test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://localhost:8000/health || exit 1"]
      interval: 30s
      timeout: 5s
      retries: 3
    labels:
      - traefik.enable=true
      - traefik.http.routers.backend.rule=Host(`api.skillio.live`)
      - traefik.http.routers.backend.entrypoints=websecure
      - traefik.http.routers.backend.tls=true
      - traefik.http.routers.backend.tls.certresolver=letsencrypt
      - traefik.http.services.backend.loadbalancer.server.port=8000

  frontend:
    build:
      context: .
      dockerfile: frontend/Dockerfile
    restart: unless-stopped
    environment:
      - NEXT_PUBLIC_API_URL=https://api.skillio.live
      - NODE_TLS_REJECT_UNAUTHORIZED=0
    depends_on:
      - backend
    networks:
      - coolify
      - internal
    labels:
      - traefik.enable=true
      - traefik.http.routers.frontend.rule=Host(`skillio.live`)
      - traefik.http.routers.frontend.entrypoints=websecure
      - traefik.http.routers.frontend.tls=true
      - traefik.http.routers.frontend.tls.certresolver=letsencrypt
      - traefik.http.services.frontend.loadbalancer.server.port=3000

volumes:
  db_final_reset_v9:

networks:
  internal:
    driver: bridge
  coolify:
    external: true
